body{
    margin: 0;
    padding: 0;
}



/* header */

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* first value (10px) top bottem secound is left right */

}

.logo{
  color: white;
  font-size: 24px;
  font-weight: bold;
}

nav ul{
    list-style: none; /*removes the dots */
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    margin-right: 20px; /* space between the nav link */
}

nav a {
    color: #fff;
    text-decoration: none;
}


/* hero-content styles */

.hero{
    background-color: #1f2937;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hero-content{
    max-width: 600px;
    margin: 0 50px;
    text-align: center;

}

.hero-content h1{
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;

}

.hero-content button{
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;         /* Removes border */
    outline: none;        /* Removes focus outline */
    text-decoration: none; /* Ensures no text decoration */
}

.hero-img{
    text-align: center;
}

.hero-img{
    max-width: 400px;
}